.order_button
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    font-family: "Steppe Black"
    z-index: 15
    bottom: 50px
    right: 0px
    width: 340px
    height: 60px
    background: #2D3748
    backdrop-filter: blur(7.5px)
    color: #fff
    font-size: 33px
    opacity: 1
    transform: translateY(0)
    transition: all .5s ease
    &:hover
        background: #4A5568
        cursor: pointer
    &__hidden
        transform: translateY(150px)
        visibility: hidden
        opacity: 0


@media (max-width: 1919px)
    .order_button
        width: 80px
        height: 80px
        font-size: 24px
@media (max-width: 767px)
    .order_button
        width: 62px
        height: 62px